<template name="about">
    <h1>About ccmed</h1>
    <div class="jumbotron">
        <div class="container">
            <h1>100% encrypted real time email</h1>
            <p>Say something here about how encryption is important and how big brother is always watching.</p>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Encrypted web sockets</h1>
            <p>Talk about how web sockets are insecure by default, and how we've secured them.</p>
        </div>
    </div>
</template>
